{% extends 'manavmitra/html/base.html' %}
{% load staticfiles %}
{% load simple_open_graph %}

{% block extra_head %}
    {% opengraph_meta "url=request.get_full_path, title=x.news_caption, type='website', image=x.news_image.url , description=x.news_article" %}
{% endblock %}

{% block main %}
<!--========== BEGIN #MAIN-SECTION ==========-->
  <section id="main-section">
    <!--========== BEGIN .CONTAINER ==========-->
    <div class="container">
    </div>
    <!--========== END .CONTAINER ==========-->
    <!-- Begin .Error 404 -->
    <div class="error-404 container-fluid text-center">
      <div class="error-msg">Error 400</div>
      <h2 class="medium-caption">Bad Request</h2>
      <h4>Sorry! We could not found the page you are looking for! Please search below...</h4>
      <div class="col-md-offset-1 col-md-10">
        <p class="text-center"><a class="btn btn-default btn-lg" href="/hindi/">Take me home</a></p>
      </div>
    </div>
    <!-- End .Error 404 -->
  </section>
  <!--========== END #MAIN-SECTION ==========-->
{% endblock %}
